.project-view-container {
	min-height: 100vh;
	padding-left: 30px;
	padding-right: 30px;
	font-family: "Segoe UI", sans-serif;
}

.project-header {
	display: flex;
	width: 100%;
	gap: 20px;
	align-items: center;
	color: var(--label-fm);
	margin-bottom: 20px;
}
.back-arrow {
	width: 20px;
	height: 20px;
	cursor: pointer;
	border-radius: 50%;
	padding: 8px;
	background-color: var(--t-bg);
	transition: transform 0.2s ease;
	color: var(--label-fm);
}

.back-arrow:hover {
	transform: scale(1.1);
	color: #6c5ce7;
}
.back-arrow:active {
	background-color: var(--active-bg);
}
.project-name {
	font-size: 1.9rem;
	font-weight: 600;
	flex-grow: 1;
}
.code-link {
	display: flex;
	align-items: center;
	gap: 10px;
	text-align: end;
}
.code-link a {
	color: blue;
}
.code-link a:hover {
	color: #7bb4e9;
}
.code-link a:active {
	color: #7bb4e9;
}
.project-main-img {
	width: 120px;
	margin-left: 20px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.project-details-card {
	padding: 20px;
	color: var(--label-fm);
	border-radius: 16px;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.project-section {
	margin-bottom: 25px;
}

.project-section h2 {
	font-size: 1.3rem;
	color: var(--heading-c);
	margin-bottom: 12px;
}

.project-section p {
	font-size: 1rem;
	line-height: 1.6;
}

.project-section ul {
	padding-left: 20px;
}

.project-section li {
	margin-bottom: 8px;
	font-size: 1rem;
}
.image-container {
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
/* Image Gallery */
.image-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 20px;
}
.image-container h2 {
	margin-bottom: 30px;
}
.image-gallery img {
	width: 40dvh;
	height: auto;
	border-radius: 12px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.image-gallery img:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
/* Responsive */
@media (max-width: 768px) {
	.project-view-container {
		padding-left: 20px;
		padding-right: 20px;
		font-family: "Segoe UI", sans-serif;
	}
	.code-link {
		font-size: 0.6em;
		gap: 5px;
	}
	.github-ic {
		font-size: 30px;
	}
	.image-gallery img {
		width: 100%;
	}
}
