:root {
	--bg-color: #ffffff;
	--text-color: #000000;
	--nav-bg: #6d60609e;
	--link-color: #333;
	--onSecondary: #c1a8df;
	--onGradient: #cec2e2;
	--input-bg: #ffff;
	--label-fm: #474747;
	--t-bg: #72727274;
	--active-bg: #a392a7a0;
	--heading-c: #1216e1;
	--card-bgL: #d5aa94;
	--card-bgR: #e5c3b2;
	--home-bg: rgba(0, 0, 0, 0.2);
}

.dark-mode {
	--bg-color: #121212;
	--text-color: #ffffff;
	--nav-bg: #323335b6;
	--link-color: #bbb;
	--onSecondary: #43404e;
	--onGradient: #615b6c;
	--input-bg: #3f3f3f;
	--label-fm: #b3b3b3;
	--t-bg: #403e41a0;
	--active-bg: #554c5990;
	--heading-c: #68abf7;
	--card-bgL: #493233;
	--card-bgR: #514545;
	--home-bg: rgba(0, 0, 0, 0.4);
}
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: sans-serif;
}
a {
	color: var(--link-color);
	text-decoration: none;
}
.goTopIcon {
	font-size: 2em;
	padding: 10px;
	position: fixed;
	border-radius: 50%;
	background-color: var(--t-bg);
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 999;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
.goTopIcon:hover {
	background-color: var(--active-bg);
	transform: scale(1.04);
}
.goTopIcon:hover {
	background-color: var(--active-bg);
	transform: scale(1.04);
}
